---
title: Libraries in Package Control
layout: layout.njk
date: Last Modified
page_type: libraries
---

{% import "packages/macros.njk" as util %}
{% import "util/macros.njk" as shared %}

{% macro lib(pkg, mark_as_main=false) %}
  <div class="card card-result"
    data-name="{{ pkg.name | escape }}"
    data-author="{{ pkg.author | escape }}"
    data-description="{{ pkg.description | escape }}"
    data-platforms="{{ pkg.platforms | join(',') | escape }}">

    <div class="card-heading">
      <div>
        <h3>
          <a {{ "id=main-content" if mark_as_main }} href="{{ pkg.homepage }}">
            {{ pkg.name }}
          </a>
        </h3>

        {% if pkg.author and (pkg.author | length) > 0 %}
          <p class="authors">by {% for author in pkg.author -%}
            {{ author }}{{ ", " if not loop.last }}
          {%- endfor %}</p>
        {% endif %}
      </div>

      {% if pkg.latest_version %}
        <div class="card-meta library-meta">
          <span class="library-version">v{{ pkg.latest_version }}</span>
        </div>
      {% endif %}
    </div>

    {% if pkg.description %}
      <p class="description">
        {{- pkg.description -}}
      </p>
    {% endif %}

    {% if pkg.platform_statement %}
      <p class="library-platforms">
        {{- pkg.platform_statement -}}
      </p>
    {% endif %}
  </div>
{% endmacro %}

<form name="search" role="search" aria-label="Library search">
  <h1>Libraries</h1>

  <div class="search-controls">
    <label for="search-field" class="screenreader-only">Search</label>
    <span class="input-with-clearance">
      <input type="search" autocomplete="off" name="q" id="search-field" placeholder="Search {{ collections.libraries | length }} libraries…">
      <button class="clear-btn" type="button" aria-label="Clear search" tabindex="-1" onclick="const input=document.getElementById('search-field'); input.value=''; input.dispatchEvent(new Event('input', { bubbles: true })); input.focus();">
        {{ shared.icon('x-circle-fill') }}
      </button>
    </span>
  </div>
</form>

<section name="libraries">
  <h2 data-list-target="counter">List</h2>
  <ul class="list">
    {% for item in collections.libraries %}
      <li>
        {{ lib(item, loop.index0 == 0) }}
      </li>
    {% endfor %}
  </ul>
</section>

<script src="{{ '/static/libs.js' | bundled }}" type="module" async></script>
