{% import "util/macros.njk" as util %}

<footer>
  <a href="/"><img src="{{ '/static/assets/logo.webp' | bust }}" width="80" height="80" alt="Package Control R logo"></a>
  <h2>Package Control</h2>

  <p>
    &copy; {{ built.year }} — Built: <human-date raw datetime="{{ built.timestamp }}">{{ built.formatted }}</human-date>
  </p>

  <nav>
    <a id="footer-links" href="https://github.com/sublimehq/package_control_channel">Submit your own package</a>
    <a class="github-link" href="https://github.com/packagecontrol/thecrawl/tree/gh-pages">
      {{ util.icon('octocat') }}
      <span class="screenreader-only">This website on GitHub</span>
    </a>
    <a href="/status">Status</a>
    <a href="/about">About</a>
    {% if site.origin != site.prodOrigin and not site.disableLiveLink %}
      {% set liveHref = site.prodOrigin + (page.url or '/') %}
      &nbsp;&nbsp;·
      <a href="{{ liveHref }}" aria-label="View this page on the live site" data-live-site-link target="_blank" rel="noopener noreferrer">L</a>
      {# The search and possible hash state in the URL must be inspected live using JS: #}
      <script>
        (() => {
          const link = document.querySelector('[data-live-site-link]')
          if (!link) {
            return
          }
          const prodOrigin = '{{ site.prodOrigin }}'
          const updateHref = (anchor) => {
            const { pathname, search, hash } = window.location
            anchor.href = prodOrigin + pathname + search + hash
          }
          const handler = (event) => updateHref(event.currentTarget)
          link.addEventListener('click', handler)
          link.addEventListener('auxclick', handler)
          link.addEventListener('mouseenter', handler)
          link.addEventListener('focus', handler)
        })()
      </script>
    {% endif %}
  </nav>
</footer>
