{% import "util/macros.njk" as util %}

<footer>
  <img src="{{ '/static/assets/logo.webp' | bust }}" width="60" height="60" alt="Package Control logo">

  <p>
    Package Control - &copy; {{ built.year }}
    <br>
    <a class="github-link" href="https://github.com/packagecontrol/thecrawl/tree/gh-pages">
      {{ util.icon('octocat') }} Source Code
      <span class="screenreader-only">This website on GitHub</span>
    </a>
  </p>
</footer>
