footer {
  display: flex;
  position: relative;
  margin: 0 auto 16px auto;
  padding: 2.5rem var(--side-padding);
  max-width: var(--max-content);
  color: var(--foreground-2);

  p {
    color: var(--foreground-3);
    padding: 0;
    margin: 0 1em;
  }
}
